:root {
    --azul-oscuro: #03045e;
    --azul-claro: #00b4d8;
    --azul-mas-claro: #90e0ef;
    --super-claro: #caf0f8;
    --naranja:#ff5400;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    margin-left: 250px;
    align-items: center;
    padding: 1rem;
    background-color: var(--azul-mas-claro);
}



header .encabezado h1 {
    color:var(--black);
    font-family: cursive;
    font-size: 25px;
    
}


.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

aside {
    width: 250px;
    /* background-image: url('https://img.freepik.com/premium-photo/illustration-cyberpunk-abstract-background-generation-ai_201606-6161.jpg'); */
    background-color: var(--azul-oscuro);
    color: var(--black);
    padding: 20px;
    position: fixed;
    height: 100vh;
    left: 0;
}

.social image img{
    width: 5px;
    height: 5px;
}





.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px auto 0 250px;
    padding: 20px;
    /* background-image: url('https://img.freepik.com/premium-photo/pink-blue-neon-geometric-ai-generated-metal-pattern_151150-24077.jpg'); */
    background-color: var(--super-claro);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(100% - 250px);
}

.profile img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px auto;
}

.profile h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--white);
    font-size: var(--lg);
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    font-size: var(--md);

}

nav ul li {
    margin-bottom: 15px;

}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

.social img {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: var(--azul-claro);
}

.social a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  
}

.social a:hover {
    color: #ccc;
}




h1 {
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 20px;
}

.filter button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.filter button.active,
.filter button:hover {
    background-color: #555;
}

/* .projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 10;
} */
.project {
  
    background-color:#f5ebe0;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 7px solid var(--azul-oscuro);
} 
.titulo{
    width:100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #ff5400;
    font-size:var(--md);
    border-bottom: 2px solid #d62828;
    border-radius: 10px;
    overflow: hidden;
    border-left: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}



.contenido {
 padding: 15px;
 margin-top: 0;
 border-top: 2px solid var(--white);
text-align:justify;
}


.project:hover {
   transform: translateY(-10px);
  }

.project img {
    width: 100%;
    height: 192px;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid var(--azul-claro);
}

.project p {
    font-size:var(--sm);
    margin-bottom: 10px;
}

.project a {
    text-decoration: none;
    color:var(--azul-oscuro);
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}




@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 220px;
        /* Ajuste menor para compensar el ancho más pequeño de la barra lateral */
    }

    .projects {
        display: block;
    }

    .project {
        width: 100%;
        /* Los proyectos ocupan todo el ancho disponible */
        margin-bottom: 20px;
    }
}

/* Para pantallas de móviles (ancho máximo de 600px) */
@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        /* La barra lateral se ajusta a la parte superior */
        position: relative;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }

    .projects {
        display: block;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }

    .filter button {
        padding: 8px 15px;
    }

    .profile h2 {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 16px;
    }
}