:root {
    --azul-oscuro: #03045e;
    --azul-claro: #00b4d8;
    --azul-mas-claro: #90e0ef;
    --super-claro: #caf0f8;
    --rosa-oscuro: #f8bfcd;
    --naranja:#ff5400;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    
    }

    .burguer{

       display:none;
        margin-top: 10px;
        margin-left: 10px;
        width: 180px;
        height: 25px;
        border: none;
        background-color:transparent;
        position: fixed;
        z-index: 4;
    }

    .burguer img{

        height: 100%;
    }

    .close{
        display: none;
    }

    

.mobile{
    display: none;
    width: 200px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white);

}
.social1{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    border-top: 1px solid var(--azul-oscuro);   
}

.social1 nav{
    margin-bottom: 50px;
}


.social1 nav ul {

    gap: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-size: var(--sm);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


.social1 nav ul li a {
    text-decoration: none;
    font-size: 18px;
    align-items: center;
}

.social1 nav ul li a:hover {
    color: var(--azul-claro);
    text-decoration: underline;
}


.social1 img {
    
    width: 30px;
    height: 30px;
    background-color: var(--azul-oscuro);
    border-radius: 50%;
}

.social1 a {
    color: var(--azul-oscuro);
    font-size: var(--sm);
    text-decoration: none;
    margin-bottom: 0;
   
}

.social1 a:hover {
    color:var(--azul-claro);
}


header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--azul-mas-claro);
}


 h1 {
    color:var(--black);
    font-size: 44px;
    font-family: "Fascinate Inline", system-ui;
    font-weight: 200;
    font-style: normal;
    
}

.profile img {
    width:70px;
    border-radius: 70%;
    display: block;
    margin: 20px auto 15px auto;
}

.profile h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color:var(--black);
    font-size: var(--lg);
}

nav ul {

    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-size: var(--md);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 30px;
}


nav ul li a {
    text-decoration: none;
    font-size: 18px;
    align-items: center;
}

nav ul li a:hover {
    color: var(--azul-claro);
    text-decoration: underline;
}


.social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
   
}

.social img {
    
    width: 20px;
    height: 20px;
    background-color: var(--azul-oscuro);
    border-radius: 50%;
}

.social a {
    color: var(--azul-oscuro);
    font-size: var(--md);
    text-decoration: none;
    margin-bottom: 0;
   
}

.social a:hover {
    color:var(--azul-claro);
    transform: translateY(-10px);
}


.main {
    display: flex;
    justify-content: center;
    width: 100%;
}


.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 150px auto 0 auto;
    padding: 10px;
    /* background-image: url('https://img.freepik.com/premium-photo/pink-blue-neon-geometric-ai-generated-metal-pattern_151150-24077.jpg'); */
    background-color: #eefcff;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: calc(100% - 200px);
}


.titulo{
    width:100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #f8bfcd;
    font-size:var(--md);
    border-bottom: 2px solid #d62828;
    border-top-left-radius: 20px;
    border-top-right-radius:  20px;
    border-left: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
 padding: 15px;
 margin-top: 0;
 border-top: 2px solid var(--white);
text-align:justify;
}

.contenido a:hover{
    color: #ffd9d9;
    cursor: pointer;
    
}

.project {
  
    background-color:#f5ebe0;
    width: 360px;
    border-radius: 20px;
    box-shadow: 4px 3px 10px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid var(--azul-claro);
} 
.project:hover {
   transform: translateY(-10px);
  }

.project img {
    width: 100%;
    height: 280px;
    overflow: hidden;
    object-fit: cover;

}

.project p {
    font-size:var(--sm);
    margin-bottom: 10px;
}

.project a {
    text-decoration: none;
    color:var(--azul-oscuro);
    font-weight: bold;
    margin-right: 25px;
}

.project a:hover {
    text-decoration: underline;
}

/* .boton-git{
   
    display: flex;
    align-items: center;
    width: 30px;
    height: 60px;
    

} */

.boton-personalizado {
    
    background-color:var(--rosa-oscuro); 
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 3px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    white-space: nowrap; 

}

.boton-personalizado:hover {
    background-color:var(--dark);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #444;
    height: 100px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-links a:hover{
    text-decoration: underline;
}


@media (max-width: 1200px) {
    .content {
        width: calc(100% - 100px);
    }

    .project {
        width: 300px;
    }
}

@media (max-width: 992px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .project {
        width: 80%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .profile img {
        width: 50px;
    }

    .project img {
        height: 200px;
    }
}

@media (max-width: 576px) {
    header {
        padding: 0.5rem;
        align-items: center;
        font-size: var(--sm);
    }

    nav ul {
        gap: 10px;
    }

    .titulo {
        font-size: var(--sm);
    }
    .content{
        margin-top: 200px;
    }
    .contenido {
        padding: 10px;
        
    }

    .project {
        width: 100%;
    }

    .social, nav{
        display:none;
        z-index: 1;
    }

    .mobile, nav{
        z-index: 2;
    }
    .burguer{
        display: flex;
    }
}   





